<h2>Child profile</h2>
<form {{action 'submitChildProfile' on='submit'}}>
	<p>
		<b> First Name: </b>
		{{input value = firstName type="text" placeholder="First Name"}}
	</p>
	<p>
		<b> Last Name: </b>
		{{input value = lastName type="text" placeholder="Last Name"}} 
	</p>
	<p>
	<b> Gender: </b>
	<select onchange={{action (mut genderIndex) value="target.value"}}>
	  {{#each genders as |genderChoice index|}}
	    <option value={{ index }} selected={{eq genderIndex index}}>{{genderChoice.name}}</option>
	  {{/each}}
	</select>
	</p>
	<p>
		<b> Date of Birth: </b>
		{{pikaday-input value = dob yearRange="1980,currentYear" placeholder="Date of Birth"}}
	</p>
	<p>{{firstName}} {{lastName}}</p>
	<p>{{gender.name}}</p>
	<p>{{dateOfBirth}}</p>
	<button type="submit">Save</button>
</form>