<h2>Child profile</h2>
<form {{action 'registerChildProfile' on='submit'}}>
	<p>
		First Name: {{input value = firstName type="text" placeholder="First Name"}}
	</p>
	<p>
		Last Name: {{input value = lastName type="text" placeholder="Last Name"}}
	</p>
	<p>
	Gender:
	<select onchange={{action (mut genderIndex) value="target.value"}}>
	  {{#each genders as |genderChoice index|}}
	    <option value={{ index }} selected={{eq genderIndex index}}>{{genderChoice.name}}</option>
	  {{/each}}
	</select>
	<p>
		<label>
		  Date of Birth:
		  {{pikaday-input value=dob yearRange="1980,currentYear" placeholder="Date of Birth"}}
		</label>
	</p>
	</p>
	<p>{{firstName}} {{lastName}}</p>
	<p>{{gender.name}}</p>
	<p>{{dateOfBirth}}</p>
	<button type="submit">Submit</button>
</form>