<h2>{{_ "Parent profiles" }}</h2>
<form {{action 'submitParentProfile' on='submit'}}>
	<div class="form-group">
		<label>{{_ "First Name:" }}</label> 
		{{input value = firstName type="text" placeholder="First Name"}}
	</div>

	<div class="form-group">
		<label>{{_ "Last Name:" }}</label>
		{{input value = lastName type="text" placeholder="Last Name"}}
	</div>

	<div class="form-group">
	<label>{{_ "Nationality:" }}</label>
	<select onchange={{action (mut nationalityIndex) value="target.value"}}>
	  {{#each nationalities as |nationalityChoice index|}}
	    <option value={{ index }} selected={{eq nationalityIndex index}}>{{nationalityChoice.name}}</option>
	  {{/each}}
	</select>
	</div>

	<div class="form-group">
	<label>{{_ "Gender:" }}</label>
	<select onchange={{action (mut genderIndex) value="target.value"}}>
	  {{#each genders as |genderChoice index|}}
	    <option value={{ index }} selected={{eq genderIndex index}}>{{genderChoice.name}}</option>
	  {{/each}}
	</select>
	</div>
	<button type="submit" class="btn btn-cyan">Save</button>
</form>

<div class="profile_output" id="parent_output">
	<p>{{_ "Name:" }} {{firstName}} {{lastName}}</p>
	<p>{{_ "Nationality:" }} {{nationality.name}}</p>
</div>
