<h2>Parent profiles</h2>
<form {{action 'submitParentProfile' on='submit'}}>
	<p>
		<b> First Name: </b> {{input value = firstName type="text" placeholder="First Name"}}
	</p>

	<p>
		<b> Last Name: </b> {{input value = lastName type="text" placeholder="Last Name"}}
	</p>

	<p>
	<b> Nationality: </b>
	<select onchange={{action (mut nationalityIndex) value="target.value"}}>
	  {{#each nationalities as |nationalityChoice index|}}
	    <option value={{ index }} selected={{eq nationalityIndex index}}>{{nationalityChoice.name}}</option>
	  {{/each}}
	</select>
	</p>

	<p>
	<b> Gender: </b>
	<select onchange={{action (mut genderIndex) value="target.value"}}>
	  {{#each genders as |genderChoice index|}}
	    <option value={{ index }} selected={{eq genderIndex index}}>{{genderChoice.name}}</option>
	  {{/each}}
	</select>
	</p>

	<p>{{firstName}} {{lastName}}</p>
	<p>{{nationality.name}}</p>
	<button type="submit">Save</button>
</form>