<h2>Parent profiles</h2>
<form {{action 'submitParentProfile' on='submit'}}>
	<p>
		First Name: {{input value = firstName type="text" placeholder="First Name"}}
	</p>
	<p>
		Last Name: {{input value = lastName type="text" placeholder="Last Name"}}
	</p>
	<p>
	Nationality:
	<select onchange={{action (mut languageIndex) value="target.value"}}>
	  {{#each languages as |languageChoice index|}}
	    <option value={{ index }} selected={{eq languageIndex index}}>{{languageChoice.name}}</option>
	  {{/each}}
	</select>
	</p>
	<p>{{firstName}} {{lastName}}</p>
	<p>{{nationality.name}}</p>
	<button type="submit">Submit</button>
</form>