<div class="form" id="reg_form">
	<form {{action 'registration' on='submit'}} class="form-inline">
		<div class="row">
			<h2>{{title}} </h2>
			<div id="form-sections">
				<div class="form-group">
						<label>Email:</label>
					{{input value = email type="email" class="input form-control input-lg" id="reg_email_input" placeholder="Email"}}
				</div>

				<div class="form-group">
					<label>Password:</label>
					{{input value = password class="input form-control input-lg" id="reg_pword_input" type = "password" placeholder ="password" }}
					<!-- {{get password "length"}} -->
				</div>

				<div class="form-group">
					<label>Repeat Password:</label>
					{{input value = repeatPassword class="input form-control input-lg" id="reg_pword_input2" type = "password" placeholder ="password" }}
				</div>
			</div>

	<!-- 		<p> {{passwordStrength}} </p> -->
			<button type="submit" class="btn btn-cyan btn-register">Register</button>
		</div>
		{{!-- <div class="row">{{#reg-info}}{{/reg-info}}</div> --}}
	</form>

</div>