<div class="form" id="forgotten_pass_form">
	<form {{action 'forgottenPassword' on='submit'}} class="form-inline">
		<h2>{{_ "Forgotten Password?" }}</h2>

		<div id="form-sections">
			<div class="form-group">
					<label>{{_ "Email:" }}</label>
				{{input value = username type="email" class="input form-control input-lg" id="login_email_input" placeholder="Email"}}
			</div>

		</div>
		<button type="submit" class="btn btn-cyan btn-login">{{_ "Reset" }}</button>
	</form>
</div>



<!-- <h2>Forgotten Password</h2>
<form {{action 'forgottenPassword' on='submit'}}>
	<p>
		Email: {{input value = username type="email" placeholder="Enter Username"}}
	</p>
	<p>
		<button type="submit">Submit</button>
	</p>
</form> -->