<div id="reg_why">
	<button {{action 'showinfo'}} id="reg_why_btn">{{_ "Why sign up?" }} <span class="glyphicon glyphicon-chevron-down"></span></button>
</div>
<div class="reg_info">
	<ul>
		<li><strong>{{_ "Free Lessons:</strong> Free language lessons taught by natives for your child and other Lingumi learners" }}</li>
		<li><strong>{{_ "Discounts:</strong> Member pricing for Starter Kit" }}</li>
		<li><strong>{{_ "Lingumi University:</strong> Resources from experts on how to teach your child a language" }}</li>
		<li><strong>{{_ "Treats:</strong> Members receive treats like sticker packs" }}</li>
	</ul>
</div>
