<div>
<footer id="footer">
    	<h2>An  <img src="assets/ef_logo.png">  company</h2>
    	<h4>{{_ "Europe's leading pre-seed investment programme for technical founders. }}</h4>

		<div class="row">
			<div class="col-md-7 col-sm-12">
				<h5>{{_ "Follow us}}</h5>
				<ul class="list-inline">
					<li><a target="_blank" href="https://www.twitter.com/lingumilabs">Twitter</a></li>
					<li><a target="_blank" href="https://www.facebook.com/lingumi">Facebook</a></li>
				</ul>
					
			</div>
			<div class="col-md-3 col-sm-12">
					<h5>{{_ "Legal"}}</h5>
				<ul class="list-inline">
					<li><a href="#">{{_ "Terms and Conditions" }}</a></li>
					<li><a href="#q">{{_ "Privacy Policy" }}</a></li>
				</ul>
			</div>
		</div>
		<p>&copy; {{_ "Copyright Lingumi Ltd. 2016, all rights reserved." }}</p>

</footer>
</div>
