<div class="row" id="navigation">
	<nav class="navbar navbar-default navbar-scroll navbar-fixed-top">

		<div class="navbar-header">
			<a class ="navbar-brand" href="/">
				<img src="/assets/brand/word_logo.gif">
			</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                <i class="fa fa-bars" style="background color: white"></i>
	        </button>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right nav-pills">
				<li>{{#link-to 'home' class="btn btn-navbar btn-cyan"}}{{_ "Home" }}{{/link-to}}</li>
				<li>{{#link-to 'products' class="btn btn-navbar btn-magenta"}}{{_ "Products" }}{{/link-to}}</li>
				<li>{{#link-to 'method' class="btn btn-navbar btn-green"}}{{_ "Method" }}{{/link-to}}</li>	


				<li class="dropdown">
					<a class="dropdown-toggle btn btn-navbar btn-red" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {{action 'selectedMore' on='click'}}>{{_ "More" }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>{{#link-to 'apps'}}{{_ "Our Apps" }}{{/link-to}}</li>
						<li>{{#link-to 'benefits'}}{{_ "Benefits" }}{{/link-to}}</li>
						<li>{{#link-to 'international'}}{{_ "International" }}{{/link-to}}</li>
						<li>{{#link-to 'about'}}{{_ "About Us" }}{{/link-to}}</li>
						<li>{{#link-to 'contact'}}{{_ "Contact Us" }}{{/link-to}}</li>
						<li>{{#link-to 'faq'}}{{_ "FAQ" }}{{/link-to}}</li>
						<li>{{#link-to 'slt'}}{{_ "Special Needs" }}{{/link-to}}</li>
						<li>{{#link-to 'educators'}}{{_ "Schools & Nurseries" }}{{/link-to}}</li>
						<li>{{#if userLoggedIn}}
								{{#link-to 'profile'}}<strong>{{_ "Profile" }}</strong>{{/link-to}}
								<a href="login.html" {{action "logout"}}>{{_ "Logout" }}</a>
							{{else}}
								{{#link-to 'registerAccount'}}<strong>{{_ "Sign Up" }}</strong>{{/link-to}}
								{{#link-to 'login'}}<strong>{{_ "Login" }}</strong>{{/link-to}}
							{{/if}}
						</li>
					</ul>
				</li>
				<li>{{#link-to 'checkout' class="btn btn-cyan"}}<strong>{{_ "BUY" }}</strong>{{/link-to}}</li>
			</ul>
		</div>
	</nav>
</div>
