<div class="page_content">
	<div id="about" class="well_padded">
		<h2>
			{{t "About Us"}}
		</h2>
		<h3>
			{{t "We founded Lingumi because we want to make it easier, cheaper, and more fun to teach your child a language at the best age for learning."}}
		</h3>
		<h4>
			{{t "We're a team of teachers, learners, computer scientists, designers, and advisory academics, who love designing effective, fun, playful learning products."}}
		</h4>

		<div id="team">
			<h2>
				{{t "Meet the team"}}
			</h2>
			<div class="row">
				<div class="team-profile col-md-4">
					<img src="assets/team/toby_bw.png">
					<h3>{{t "Toby Mather"}}</h3>
					<h4>{{t "Co-founder"}}</h4>
					<p>{{t "Former English teacher and Russian & Italian graduate from Oxford University."}}</p>
				</div>
				<div class="team-profile col-md-4">
				<img src="assets/team/adit_bw.png">
					<h3>{{t "Adit Trivedi"}}</h3>
					<h4>{{t "Co-founder"}}</h4>
					<p>{{t "Web & app developer and Computer Science graduate from University College London"}}</p>
				</div>
				<div class="team-profile col-md-4">
				<img src="assets/team/carol_bw.png">
					<h3>{{t "Carol Woodman"}}</h3>
					<h4>{{t "Designer"}}</h4>
					<p>{{t "Award winning children's illustrator and leading designer on work for the BBC."}}</p>
				</div>
			</div>

			<div class="row">
				<h2>{{t "The advisors"}}</h2>
				
				<div class="team-profile col-md-6">
				<img src="assets/team/william_placeholder.png">
					<h3>{{t "William O'Grady"}}</h3>
					<h4>{{t "Academic Advisor"}}</h4>
					<p>{{t "Professor of child language acquisition at the University of Hawaii and author of 'How Children Learn Language', Professor O'Grady advises on the academic research that underpins the Lingumi method."}}</p>
				</div>
				
			</div>

		</div>
	</div>
</div>
